.label {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(61, 56, 56);
}
.form {
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 20px;
}
