.form {
  /* display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 15px;
  gap: 10px;
  margin-bottom: 15px;
  .container { */
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 20px;
}

.contactForm {
  padding: 15px;
  border: 1px rgb(58, 53, 53) solid;
}
.input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(61, 56, 56);
}
.btn {
  width: 100px;
  height: 30px;
}
.title {
  font-size: 50px;
  color: rgb(50, 13, 185);
  margin: auto;
}
